<!-- views/admin/users.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Petits Emprunts entre amis</title>
    <meta descr="Suivez vos emprunts entre amis.">
    
    <!-- bootstrap -->
    <link href="/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-responsive.css" rel="stylesheet">
   
</head>
<body>

    <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-right pull-right">
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user/<%= username%>" id="profile"><%= username%></a></li>
                            <li><a href="/main">mes emprunts</a></li>
                            <li><a href="/admin/users">utilisateurs</a></li>
                            <li><a href="/admin/loans">emprunts</a></li>
                            <li><a href="/logout">Déconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </nav>

<div class="container">
    
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Les emprunts de : <span id="username"><%=user.local.username%></span></h1>
    </div>

    <div class="row">

        <div>
                    <h3 class="text-left">Ses Emprunts :</h3>
                    <h4>(<%= borrows.length %> en cours )</h4>
                    <table id="lendingsHeBorrow" class="table table-striped">
                        <tbody id="lendingsHeBorrowBody">
                        <!-- should be dynamical and not by ejs-->
                        <% for( i = 0; i < borrows.length ; i+=1) { %>
                            <tr id="loan<%= borrows[i]._id %>">
                                <td><%= borrows[i].what %> emprunté à <%= borrows[i].loaner %> le <%=borrows[i].when%></td>
                                <td><%= borrows[i].getDelay() %></td>
                                <td>dernière relance : <%= borrows[i].lastreminder %></td>
                                <td><button class="btn btn-danger btndelete" id="deleteloan<%= borrows[i]._id %>"><i class="icon-remove icon-white"></i></button></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                    <h3 class="text-left">Ses Prêts :</h3>
                    <h4>(<%= loans.length %> en cours )</h4>
                    <table id="lendingsHeLoan" class="table table-striped">
                        <tbody id="lendingsHeLoanBody">
                        <!-- should be dynamical and not by ejs-->
                        <% for( i = 0; i < loans.length ; i+=1) { %>
                            <tr id="loan<%= loans[i]._id %>">
                                <td><%= loans[i].what %> prêté à <%= loans[i].borrower %> le <%= loans[i].when %></td>
                                <td><%= loans[i].getDelay() %></td>
                                <td>dernière relance : <%= loans[i].lastreminder %></td>
                                <td><button class="btn btn-danger btndelete" id="deleteloan<%= loans[i]._id %>"><i class="icon-remove icon-white"></i></button></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
        </div>

    </div>

</div>

<!-- bootstrap -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap.min.js"></script>


    <script src="/adminuserloans.js"></script>

</body>
</html>
