<!-- views/admin/users.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Petits Emprunts entre amis</title>
    <meta descr="Suivez vos emprunts entre amis.">
    
    <!-- bootstrap -->
    <link href="/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-responsive.css" rel="stylesheet">
   
</head>
<body>

    <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-right pull-right">
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user/<%= username%>" id="profile"><%= username%></a></li>
                            <li><a href="/main">mes emprunts</a></li>
                            <li><a href="/admin/loans">emprunts</a></li>
                            <li><a href="/">Déconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </nav>

<div class="container">
    
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Liste des <%=users.length%> utilisateurs</h1>
    </div>

    <div class="row">

        <!-- USERS LIST -->
        <div class="col-sm-6">
            <div class="well">
                <table id="usersList" class="table table-striped">
                    <% for( i = 0; i < users.length ; i+=1) { %>
                    <tr id="user<%= users[i]._id %>">
                        <td><%=users[i].local.username%></td>
                        <td>
                            <%if(users[i].isActivated()) {%>
                                <form action="/admin/deactivateuser/<%=users[i]._id%>" method="post">
                                    <button type="submit" class="btn btn-success" title="will deactivate user">activated</button>
                                </form>
                            <%} else {%>
                            <form action="/admin/activateuser/<%=users[i]._id%>" method="post">
                                    <button type="submit" class="btn btn-danger" title="will activate user">not activated</button>
                                </form>
                            <% } %>
                        </td>
                        <td><%=users[i].local.email%></td>
                        <td>fb : <%=users[i].facebook.email%></td>
                        <td>fb : <%=users[i].facebook.name%></td>
                        <td>gg : <%=users[i].google.email%></td>
                        <td>gg : <%=users[i].google.name%></td>
                        <%if(users[i].local.username !== username) {%>
                            <td><button class="btn btn-danger btndelete" id="deleteuser<%= users[i]._id %>"><i class="icon-remove icon-white"></i></button></td>
                        <%}
                        else
                        {
                        %>
                        <td></td>
                        <%}%>
                        <td><a href="/admin/loans/<%= users[i]._id %>">emprunts</a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- bootstrap -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap.min.js"></script>

        <script src="/admin.js"></script>

</body>
</html>
