<!-- views/main.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Petits Emprunts entre amis</title>
    <meta descr="Suivez vos emprunts entre amis.">
    
    <!-- bootstrap -->
    <link href="/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-responsive.css" rel="stylesheet">

    <!-- pikaday -->
    <link rel="stylesheet" href="/pikaday.css">
   
</head>
<body>

    <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-brand" href="/">Petits Emprunts</a></li>
                            <% if(action == "iLoan") {%>
                            <li id="iBorrowLi" class=""><a href="#" id="IBorrowButton">J'emprunte</a></li>
                            <li id="iLoanLi" class="active"><a href="#" id="ILoanButton">Je prête</a></li>
                            <% } else {%> 
                            <li id="iBorrowLi" class="active"><a href="#" id="IBorrowButton">J'emprunte</a></li>
                            <li id="iLoanLi" class=""><a href="#" id="ILoanButton">Je prête</a></li>
                            <%}%>
                    </ul>
                </div>
                <div class="navbar-right pull-right">
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user/<%= username%>" id="profile"><%= username%></a></li>
                            <li><a href="/">Déconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </nav>

<div class="container">
            <div class="row-fluid" id="mainForm">
                <div class="span4 offset3">
                <span id="helloUserMain">Bonjour <%= username%>,</span>
                <%if(action == "iBorrow") { %>
                <span id="actionMain">Vous empruntez : </span>
                <% } else { %>
                <span id="actionMain">Vous prêtez : </span>
                <% } %>
                    <form action="/newloan" method="post">
                        <fieldset>
                        <label>Quoi ?</label>
                        <input type="text" placeholder="Quoi ?" id="fieldWhat" name="what" <% if(what.length > 0) { %>
                        value=<%= what %>
                        <% } %>
                        >
                            <% if(messagedangerwhat.length > 0 ) { %>
                            <div class="alert alert-danger" id="dangerWhat">
                            <%= messagedangerwhat %>
                            </div>
                            <%
                            }
                            %>
                        <label>A Qui ?</label>
                        <input type="text" placeholder="A Qui ?" id="fieldWho" name="whom" <% if(whom.length > 0) { %>
                        value=<%= whom %>
                        <% } %>
                        >
                            <% if(messagedangerwhom.length > 0) { %>
                            <div class="alert alert-danger" id="dangerWho">
                            <%= messagedangerwhom %>
                            </div>
                            <%
                            }
                            %>
                        <label>Quand ?</label>
                        <input type="text" placeholder="Quand ?" id="fieldWhen" name="when" <% if(when.length > 0) { %>
                        value=<%= when %>
                        <% } %>
                        >
                            <% if(messagedangerwhen.length > 0) { %>
                            <div class="alert alert-danger" id="dangerWhen">
                            <%= messagedangerwhen %>
                            </div>
                            <%
                            }
                            %>
                        
                            <%if(action == "iBorrow") { %>
                            <input type="hidden" id="actionMainForm" value="iBorrow" name="action">
                            <% } else { %>
                            <input type="hidden" id="actionMainForm" value="iLoan" name="action">
                            <% } %>
                        <input type="submit" id="submitNewLoanButton" class="btn btn-primary btn-large btn-block" value="Nouvel Emprunt">
                        </fieldset>
                    </form>
                </div>
             </div>

            <div class="row-fluid" id="activity">
<!--
                <div class="span3">
                    <h3 class="text-left">Mes amis</h3>
                    <ul id="friends">
-->
                        <!-- dynamical -->
<!--
                    </ul>
                </div>
-->
                <div class="span9">
                    <h3 class="text-left">Mes Emprunts <%= myborrows.length %></h3>
                    <table id="lendingsIBorrow" class="table table-striped">
                        <tbody id="lendingsIBorrowBody">
                        <!-- should be dynamical and not by ejs-->
                        <% for( i = 0; i < myborrows.length ; i+=1) { %>
                            <tr id="loan<%= myborrows[i]._id %>">
                                <td><%= myborrows[i].what %> emprunté à <%= myborrows[i].loaner %> le <%=myborrows[i].when%></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                    <h3 class="text-left">Mes Prêts <%= myloans.length %></h3>
                    <table id="lendingsILoan" class="table table-striped">
                        <tbody id="lendingsILoanBody">
                        <!-- should be dynamical and not by ejs-->
                        <% for( i = 0; i < myloans.length ; i+=1) { %>
                            <tr id="loan<%= myloans[i]._id %>">
                                <td><%= myloans[i].what %> prêté à <%= myloans[i].borrower %> le <%=myloans[i].when%></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            
    </div>

<!-- bootstrap -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap.min.js"></script>

<!-- pickaday -->
        <script src="/moment.js"></script>
        <script src="/pikaday.js"></script>
        <script>
            moment.locale("fr")
            //var picker = new Pikaday({ field: document.getElementById('fieldWhen') });
             var picker = new Pikaday({
                field: document.getElementById('fieldWhen'),
                format: 'D MMM YYYY',
                i18n: {
                    previousMonth : 'Mois précédent',
                    nextMonth     : 'Mois suivant',
                    months        : ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
                    weekdays      : ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
                    weekdaysShort : ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam']
                    }
                });
        </script>

        <script src="/main.js"></script>


</body>
</html>