<!-- views/profile.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Petits Emprunts entre amis</title>
    <meta descr="Suivez vos emprunts entre amis.">
    
    <!-- bootstrap -->
    <link href="/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-responsive.css" rel="stylesheet">
   
</head>
<body>

    <nav class="navbar navbar-default">
            <div class="container-fluid">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-right pull-right">
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/main">mes emprunts</a></li>
                            <li><a href="/logout">Déconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    </nav>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Profile Page of <%=user.local.username%></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- CHANGE USERNAME -->
        <div class="col-sm-6">
            <div class="well">
                <!-- show any messages that comes back with username change form -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <form action="/changeusername" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" value="<%=user.local.username%>">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Change username</button>
                </form>
            </div>
        </div>

        <!-- DELETE ACCOUNT -->
        <div class="col-sm-6">
            <div class="well">
                <!-- show any messages that comes back with delete user form -->
                <% if (messageDeleteUser.length > 0) { %>
                <div class="alert alert-danger"><%= messageDeleteUser %></div>
                <% } %>
                <form action="/deleteaccount" method="post">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Supprimer mon compte</button>
                </form>
            </div>
        </div>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                    <a href="/changepwd" class="btn btn-default">Change Password</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.facebook.id %><br>
                        <strong>token</strong>: <%= user.facebook.token %><br>
                        <strong>email</strong>: <%= user.facebook.email %><br>
                        <strong>name</strong>: <%= user.facebook.name %><br>
                    </p>

                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.google.token) { %>
                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                <% } else { %>
                    <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                <% } %>

            </div>
        </div>
    </div>

</div>

<!-- bootstrap -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap.min.js"></script>

</body>
</html>